{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100 center">
    <br>
    <div class="row">
        <div class="col-12">
            {% include 'includes/carousel.html' %}
        </div>
    </div>
        <div class="row">
            <div class="col-12 my-auto mb-10 justify-content-center">
                
            <br><br>
            <h4 class="text-black">We are a <strong>web design agency</strong> helping businesses of all size get a better return from online activities. 
            We design and build stunning bespoke websites and we can help with a wide range of online marketing strategies.
            Every website that we create is designed and built by our team of friendly web designers and you have full content management so that you can update your website whenever you wish.
We have an innovative way of working, removing unnecessary costs, offering lower prices than other similar web design agencies. Please explore the services and packages that we offer, read some of the reviews about what our existing clients say and take a look at the quality our work. If you are looking to find a website design agency then we’d love to hear from you.<br><br></h4>
            </div>
        </div>
</div>
    
{% endblock %}