{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h4>Frequently Asked Questions</h4>
        </div>
    </div>
				<div class="row">
					<div class="col-md-12">

                        <!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          All questions <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
        {% for q in question %}
        {% if q.category == webdev %}
        duppaaa
        {% endif %}
        <h4>Question: {{ q.title }}</h4>
        <h5>Category: {{ q.category }}</h5>
        <p>{{ q.description }} </p><br>
        {% endfor %}
      </div>
    </div>

  </div>
					</div>

					</div>

					
</div>
<br><br>




{% endblock %}