<div class="row bg-dark">
    <div class="col-6 mt-3 mb-3 pl-5 d-none d-sm-block d-xs-block">
            <p>Pixel Studio<br>
            85 Aughanteeroe<br>
            Gort Road<br>
            Ennis<br>
            Co. Clare<br>    
            </p>
    </div>
    <div class="col-4 mt-3 mb-3 pr-5">
        <a href="#" class="ftr">Privacy Policy</a><br>
        <a href="#" class="ftr">Testiomonials</a><br>
        <a href="#" class="ftr">Directions</a><br>
        <a href="#" class="ftr">Contact Us!</a><br>
    </div>
    <div class="col-2 mt-3 mb-3 pr-5">
        <h6>Social Media</h6>
        <a href="https://www.instagram.com/" taget="_blank" class="ftr"><i class="fab fa-lg fa-instagram">&nbsp;&nbsp;</i></a>
        <a href="https://www.linkedin.com/" taget="_blank" class="ftr"><i class="fab fa-lg fa-linkedin">&nbsp;&nbsp;</i></a>
        <a href="https://www.facebook.com/" taget="_blank" class="ftr"><i class="fab fa-lg fa-facebook"></i></a><br><br>
    </div>
</div>