<div class="collapse navbar-collapse bg-light" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" >
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
             <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=webdev,graphicdesign,print,hostinganddomains" class="dropdown-item">All services</a>
                <a href="{% url 'products' %}?category=webdev" class="dropdown-item">Web Developement</a>
                <a href="{% url 'products' %}?category=graphicdesign" class="dropdown-item ">Graphic Design</a>
                <a href="{% url 'products' %}?category=print" class="dropdown-item ">Print</a>
                <a href="{% url 'products' %}?category=hostinganddomains" class="dropdown-item">Hosting & Domains</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="web-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Web Developement
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="web-link">
                <a href="{% url 'products' %}/1" class="dropdown-item">Starter</a>
                <a href="{% url 'products' %}/2" class="dropdown-item">Functional</a>
                <a href="{% url 'products' %}/3" class="dropdown-item">Blog</a>
                <a href="{% url 'products' %}/4" class="dropdown-item">E-commerce</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="graphic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="graphic-link">
                <a href="{% url 'products' %}/5" class="dropdown-item">Logo &amp; Logotypes</a>
                <a href="{% url 'products' %}/6" class="dropdown-item">Business Cards</a>
                <a href="{% url 'products' %}/7" class="dropdown-item">Posters</a>
                <a href="{% url 'products' %}/8" class="dropdown-item">Flyers &amp; Leaflets</a>
                <a href="{% url 'products' %}/9" class="dropdown-item">Signs &amp; Banners</a>
                <a href="{% url 'products' %}/10" class="dropdown-item">Invitations</a>
                <a href="{% url 'products' %}/11" class="dropdown-item">Labels &amp; Stickers</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="{% url 'products' %}/12">Print</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="{% url 'products' %}/13">Hosting & Domains</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="{% url 'about' %}">About</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="{% url 'faq' %}">FAQ</a>
        </li>
    </ul>
</div>