<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All services</a>
                <a href="" class="dropdown-item">Web Developement</a>
                <a href="" class="dropdown-item ">Graphic Design</a>
                <a href="" class="dropdown-item ">Print</a>
                <a href="" class="dropdown-item">Hosting & Domains</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="web-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Web Developement
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="web-link">
                <a href="" class="dropdown-item">Starter</a>
                <a href="" class="dropdown-item">Functional</a>
                <a href="" class="dropdown-item">Blog</a>
                <a href="" class="dropdown-item">E-commerce</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="graphic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Design
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="graphic-link">
                <a href="" class="dropdown-item">Logo &amp; Logotypes</a>
                <a href="" class="dropdown-item">Business Cards</a>
                <a href="" class="dropdown-item">Posters</a>
                <a href="" class="dropdown-item">Flyers &amp; Leaflets</a>
                <a href="" class="dropdown-item">Signs &amp; Banners</a>
                <a href="" class="dropdown-item">Invitations</a>
                <a href="" class="dropdown-item">Labels &amp; Stickers</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="#">Print</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="#">Hosting & Domains</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="#">About</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-black font-weight-bold logo-font mr-5" href="#">FAQ</a>
        </li>
    </ul>
</div>