{% extends "base.html" %}
{% load static %}
{% block extra_title %}
About
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<br>
<div class="container">
				<div class="row">
					<div class="col-md-4">

						<div class="feature-left">
							<i class="fas fa-code fa-5x"></i>
							<div class="feature-copy text-black">
								<h3>Years of Experience</h3>
								<p>Delivering cutting-edge website solution for all business types since 1999.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<i class="far fa-lightbulb fa-5x"></i>
							<div class="feature-copy text-black">
								<h3>Amazing Ideas</h3>
								<p>We know what kind of design works and how to capture the visitors eye.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<i class="fas fa-cog fa-5x"></i>
							<div class="feature-copy text-black">
								<h3>Fantastic Technology</h3>
								<p>Using the newest and best technology we make your website outstanding</p>
							</div>
						</div>
					</div>
				</div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-12 w-80">
            <h2> We don't just build websites. We build Your Business. </h2>
            <h5>Our Website are more likely your best and hardest working sales person: dedicated, multi-tasking and always laser focused on your bottom line.</h5>
        </div>
    </div>
</div>



{% endblock %}